<h1>Journal Entries</h1>
<%= link_to "Create Entry", '#', class: 'btn btn-primary btn-xs' %>
<% @entries.each do |entry| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to entry.subject, entry %>
      </h4>
    </div>
  </div>
<% end %>
