<h1>Your Troves</h1>
<div class="row well path">
  <div class="col-md-3">
    <h4 id="trove_directions">This is where you begin the creation of your trove. After the trove is created, you can begin to add itmes to it as well as assign recipients to your trove.</h4>
    <%= link_to "Create Trove", new_box_path, class: 'btn btn-primary btn-xs' %>
  </div>

  <div class="col-md-6 col-md-offset-1">
    <% @boxes.each do |box| %>
      <div class="media well well-sm">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to box.title, box %>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
