<h1>Your Troves</h1>
<%= link_to "Create Trove", new_box_path, class: 'btn btn-primary btn-xs' %>
<% @boxes.each do |box| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to box.title, box %>
      </h4>
    </div>
  </div>
<% end %>
