<div class="row well boxes">
  <div class="col-md-4" id="journal_directions">
    <h4>Consider the following while adding your pictures:</h4>
    <ul>
      <li>Will this picture be private or shared with others</li>
      <li>What purpose will this picture serve?</li>
    </ul>
  </div>
  <div class="col-md-8 well">
    <%= render partial: 'form', locals: { box: @box, picture: @picture} %>
  </div>
</div>
