<div class="row pic_show">
  <div class="col-md-8 col-md-offset-2 well well-sm">
    <p><%= image_tag @picture.photo.medium, class: 'img-responsive center-block' %></p>
    <h3>Caption: <%= @picture.caption %></h3>
  </div>
</div>
