<h1>Your New Journal</h1>

 <div class="row well boxes">
   <div class="col-md-4" id="journal_directions">
     <h4>Consider the following while developing your journal:</h4>
     <ul>
       <li>Will this journal be private or shared with others</li>
       <li>When do you plan to have this journal delivered?</li>
       <li>What purpose will this journal serve?</li>
     </ul>
   </div>
   <div class="col-md-8 well">
     <%= render partial: 'form', locals: { box: @box, journal: @journal} %>
   </div>
 </div>
