div {
    margin: 0 auto;
}

.boxes {
  background-image: image-url("recipients.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#trove_directions {
  text-align: justify;
  color: white;
}

#trove_show {
  margin-left: 0;
  margin-right: 0;
}

.trove_main {
  background-image: image-url("trove.png");
  min-height: 500px !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
