// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pic_show {
  margin-top: 20px;
}

.btn-center {
  display: inline-block;
}

.pic_back {
  background-image: image-url("camera.png");
  min-height: 500px !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#pic_table {
  margin-top: 20px;
}
