.jumbotron {

  height: 650px;
  background-image: image-url("empty_chair.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.signed_out {
  margin-top: 250px;
  text-align: center;
}

.jumbotron p {
  text-align: center;
}

.signed_in {
  margin-top: 250px;
  text-align: center;
}
